#cnt{
     display: block;
    font-size: 10em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
#btn{
    text-align: center;
}
.button{
     padding: 10px 20px;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    background-color: brown;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
.button:hover{
  background-color: chocolate;  
}