#body{
    margin: 0%;
    padding: 25px 25px;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background :linear-gradient(to right,crimson,pink);
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.glass{
    width: 300px;
    padding: 20px;
    background: linear-gradient(255,255,255,0.3);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.4);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
}
#btn{
    cursor: pointer;
    background: rgba(255,255,255,0.4);
}
#check{
    cursor: pointer;
}